/* Using flexbox to display the left navigation bar*/
.App {
  text-align: center;
  height:100vh;
  width:100vw;
  display: flex;
  flex-flow: nowrap;
  
}
.sideBar{
  width:25%;  
    }

  #searchBar{
    width : 100%;
    height: 2rem;
    font-size : 1rem;   
  }

.venueList {
  padding: 1rem;
}
.listItem {
  list-style-type: none;
  font-size: 1 rem;
  padding :.25rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 1px rgb(218, 209, 209);
  cursor: pointer;
  background: #74c8df;
  color: #FFFFFF;
  display: flex;
  align-items:center;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* for portrait, list views on top */
@media screen and (min-device-height: 1000px) and (orientation: portrait) {
   
  .map-container {
      position: relative;
      width: 100%;
      height: 70%;
  }  
  .sideBar {
      width: 45%;
  }
  .listItem{
    width: 100%;
  }
  
  
 
}

/* for portrait, list views on top */
@media screen and (min-device-width: 480px) and (min-device-height: 600px) and (orientation: portrait) {
  
  .map-container {
      position: relative;
      width: 100%;
      height: 60%;
  }
  .sideBar{
      width: 30%;
  }
  .listItem{
    width: 100%;
  }
  
  
}

@media screen and (max-device-width: 1028px) and (orientation: landscape),
screen and (max-device-height: 1028px) and (orientation: portrait) {
 
  .map-container {
    position: relative;
    width: 100%;
} 
.sideBar{
  width: 45%;
}
.listItem{
    width: 100%;
  }  
  
}

/* for landscape or portrait, list views float on left */
@media screen and (min-device-width: 700px) and (max-device-width: 800px) and (orientation: landscape),
screen and (max-device-width: 480px) and (orientation: portrait) {
   .map-container {
    position: relative;
    width: 100%;
  } 

  .sideBar {
         max-width: 210px;
         padding: 10px 56px 9px 56px;
}
.listItem{
  width: 100%;
}

}

/* for landscape, list views float on top */
@media screen and (max-device-width: 700px) and (orientation: landscape) {
  
   .map-container {
      position: relative;
      width: 100%;
      height: 100%;
  }

  .sideBar {
      width: 100%;
      height: 250px;
      -webkit-flex-direction: row; /* Safari 6.1+ */
      flex-direction: row;
  } 
  
  .listItem{
    width: 100%;
  }  
}